  <div id="jumbotron" class="jumbotron" >
    <div class="jumbo-wrapper">
      <div class="jumbo-pageInfo">
        <div class="jumbo-breadcrumb">
          <div class="jumbo-pageName">
            <div class="ico-breadcrumb-home"></div>
            <div class="ico-breadcrumb-chevron"></div>
            {{ pageName }}
          </div>
        </div>
        <div class="jumbo-listdata">
          {{ subTitle }}         
        </div>
      </div>
      <div class="jumbo-controls">
        <ng-content>
        </ng-content>
      </div>
    </div>
  </div>