<p-card>
    <form [formGroup]="languageForm" (submit)="exportExcel()">

        <div class="grid">
            <h5>Select Languages to Export Json</h5>
            <p-dropdown placeholder="Select Languages" [options]="languages" [style]="{'width':'100%'}" class="w-full"
                [showClear]="true" formControlName="languageId" optionLabel="name" 
                optionValue="languageId" [showClear]="true" [ngClass]="{ 'is-invalid': submitted && l.languageId.errors }">
            </p-dropdown>
            <span *ngIf="submitted && l.languageId.errors">Please select language</span>
        </div>

        <div class="flex justify-content-end flex-wrap mt-2">
            <div class="flex align-items-center justify-content-center">
                <button pButton pRipple type="submit" label="Export" class="p-button-raised p-button-success"></button>
            </div>
        </div>
    </form>
</p-card>