<div id="loginContainer">
    <div class="auth-wrapper">
        <div class="auth-in">
            <div class="auth-card">
                <div class="auth-body" style="align-self: flex-start; margin-top: 25vh;">
                    <div class="auth-spinner">
                        <div class="loaderSpinner authSpinner"></div>
                    </div>
                    <div class="auth-welcome">
                        Welcome Back!
                    </div>
                    <div class="auth-message">
                        System is checking your Authentication<br>
                        Please Wait
                    </div>
                </div>
                <div class="auth-body" style="align-self: flex-end; margin-bottom: 5vh;">
                    <div class="auth-img"></div>
                </div>
               
            </div>
        </div>
    </div>
</div>